    <div class="card blog-item">
      <div class="card-image">
        <div class="image post-image" style="background-image: url({{post.image}});"></div>
      </div>
      <div class="card-content">
        <div class="content">
          <h1 class="title is-4">{{post.title}}</h1>
          <h4 class="subtitle is-7 has-text-primary">
            <span class="post-categories">
              {% if post.categories %}
              {% for category in post.categories %}
              <span class="tag is-primary post-category">{{category}}</span>
              {% endfor %}
              {% endif %}
            </span>
            {{post.date | date: "%-d %B %Y"}} - {{post.author}}

          </h4>
          {% assign striped = {{post.content | strip_html}}%}
          {{post.content | truncate: 250 }} <a href="{{post.url}}">Read more</a>
          <br>
        </div>
      </div>
    </div>