<div class="icon-headers">
    <div class="columns">
    <div class="column">
        <i class="fas fa-ruler-combined fa-5x"></i>
        <p>First Column</p>
    </div>
    <div class="column">
        <i class="fas fa-ruler-combined fa-5x"></i>
        <p>Second column</p>
    </div>
    <div class="column">
        <i class="fas fa-ruler-combined fa-5x"></i>
        <p>Second column</p>
    </div>
    </div>

    <div class="columns">
    <div class="column">
        <i class="fas fa-ruler-combined fa-5x"></i>
        <p>Second column</p>
    </div>
    <div class="column">
        <i class="fas fa-ruler-combined fa-5x"></i>
        <p>Second column</p>
    </div>
    <div class="column">
        <i class="fas fa-ruler-combined fa-5x"></i>
        <p>Second column</p>
    </div>
    </div>
</div>