<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical">
    {% for project in site.projects %}
    {% capture projcolor %}is-{%if project.hero.color %}{{project.hero.color}}{% else%}primary{% endif%}{% endcapture %}
    <a href="{{project.url}}" class="tile is-child notification {{projcolor}}" {% if project.hero.image %}
      data-background-image="{{project.hero.image}}" {% endif %}>
      <h1 class=" title">{{project.title}}</h1>
      <p class="subtitle">{{project.subtitle}}</p>
      <div class="content">
        <!-- Content -->
      </div>
    </a>
    {% endfor %}
  </div>
</div>